body
{
   border-width: 0 !important;
   font-weight: normal;
   font-size: 16px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
.wb-theme-header
{
   background-color: #1B1138;
   background-image: none;
   border: 1px solid #6F42C1;
   border-radius: 0px;
   color: #FFFFFF;
   --background-color: rgba(27,17,56,1.00);
   --border-color: #6F42C1;
   --border-width: 1px;
   --color: #FFFFFF;
}
.wb-theme-content
{
   background-color: #1A0933;
   background-image: none;
   border: 1px solid #30115E;
   border-radius: 0px;
   color: #32FBE2;
   --background-color: rgba(26,9,51,1.00);
   --border-color: #30115E;
   --border-width: 1px;
   --color: #32FBE2;
   --icon-color: #6F42C1;
   --colorize: invert(35%) sepia(29%) saturate(2247%) hue-rotate(230deg) brightness(87%) contrast(99%);
}
.wb-theme-button, .wb-theme-static
{
   background-color: #6F42C1;
   background-image: none;
   border: 1px solid #6F42C1;
   border-radius: 0px;
   color: #FFFFFF;
   --background-color: rgba(111,66,193,1.00);
   --border-color: #6F42C1;
   --border-width: 1px;
   --color: #FFFFFF;
}
.wb-theme-button:hover
{
   background-color: #5E38A4;
   background-image: none;
   border: 1px solid #59359A;
   border-radius: 0px;
   color: #FFFFFF;
   --background-color: rgba(94,56,164,1.00);
   --border-color: #59359A;
   --border-width: 1px;
   --color: #FFFFFF;
}
.wb-theme-button.active, .wb-theme-button:active, .active > .wb-theme-button
{
   background-color: #59359A;
   background-image: none;
   border: 1px solid #533291;
   border-radius: 0px;
   color: #FFFFFF;
   --background-color: rgba(89,53,154,1.00);
   --border-color: #533291;
   --border-width: 1px;
   --color: #FFFFFF;
}
.darktheme .wb-theme-header
{
   background-color: #201038;
   background-image: none;
   border: 1px solid #3D2F52;
   border-radius: 0px;
   color: #FFFFFF;
   --background-color: rgba(32,16,56,1.00);
   --border-color: #3D2F52;
   --border-width: 1px;
   --color: #FFFFFF;
}
.darktheme .wb-theme-content
{
   background-color: #1A0933;
   background-image: none;
   border: 1px solid #30115E;
   border-radius: 0px;
   color: #DEE2D3;
   --background-color: rgba(26,9,51,1.00);
   --border-color: #30115E;
   --border-width: 1px;
   --color: #DEE2D3;
   --icon-color: #6F42C1;
   --colorize: invert(40%) sepia(59%) saturate(887%) hue-rotate(224deg) brightness(76%) contrast(103%);
}
.darktheme .wb-theme-button, .darktheme .wb-theme-static
{
   background-color: #6F42C1;
   background-image: none;
   border: 1px solid #6F42C1;
   border-radius: 0px;
   color: #FFFFFF;
   --background-color: rgba(111,66,193,1.00);
   --border-color: #6F42C1;
   --border-width: 1px;
   --color: #FFFFFF;
}
.darktheme .wb-theme-button:hover
{
   background-color: #5E38A4;
   background-image: none;
   border: 1px solid #59359A;
   border-radius: 0px;
   color: #FFFFFF;
   --background-color: rgba(94,56,164,1.00);
   --border-color: #59359A;
   --border-width: 1px;
   --color: #FFFFFF;
}
.darktheme .wb-theme-button.active, .darktheme .wb-theme-button:active, .active > .wb-theme-button
{
   background-color: #59359A;
   background-image: none;
   border: 1px solid #533291;
   border-radius: 0px;
   color: #FFFFFF;
   --background-color: rgba(89,53,154,1.00);
   --border-color: #533291;
   --border-width: 1px;
   --color: #FFFFFF;
}
#wb_headerLayoutGrid
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   border: none !important;
   box-sizing: border-box;
   margin: 0;
}
#headerLayoutGrid
{
   box-sizing: border-box;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   padding: 10px 0 10px 0;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#headerLayoutGrid > .col-1, #headerLayoutGrid > .col-2
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#headerLayoutGrid > .col-1, #headerLayoutGrid > .col-2
{
   flex: 0 0 auto;
}
#headerLayoutGrid > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   flex-basis: 50%;
   max-width: 50%;
   order: 1;
   display: flex;
   flex-wrap: wrap;
   align-content: flex-start;
   align-self: stretch;
   align-items: flex-start;
   justify-content: flex-start;
   text-align: left;
}
#headerLayoutGrid > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   flex-basis: 50%;
   max-width: 50%;
   order: 2;
   display: flex;
   flex-wrap: wrap;
   align-content: center;
   align-self: stretch;
   align-items: center;
   justify-content: flex-end;
   text-align: right;
}
@media (max-width: 768px)
{
#headerLayoutGrid > .col-1, #headerLayoutGrid > .col-2
{
   flex-basis: 100% !important;
   max-width: 100% !important;
}
}
#wb_headerHeading
{
   border-radius: 0px;
   box-sizing: border-box;
   vertical-align: top;
   margin: 0;
   padding: 0;
   text-align: left;
}
#headerHeading
{
   font-family: "Open Sans";
   font-weight: 700;
   font-style: normal;
   font-size: 43px;
   margin: 0;
   text-align: left;
   text-transform: none;
}
#headerHeading
{
   height: 100%;
   margin: 0;
   width: 100%;
   background: transparent !important;
   border: none !important;
}
#wb_headerOverlayMenu
{
   position: relative;
}
#wb_headerOverlayMenu
{
   margin: 0;
}
#headerOverlayMenu
{
}
#headerOverlayMenu
{
   display: block;
   width: 46px;
   height: 46px;
   position: relative;
   overflow: hidden;
}
#headerOverlayMenu .line
{
   width: 24px;
   height: 4px;
   background: var(--color);
   display: block;
   margin: 4px auto;
   transition: all 0.3s ease-in-out;
}
#headerOverlayMenu .line:first-child
{
   margin-top: 11px;
}
#headerOverlayMenu-close
{
   background: transparent;
   font-size: 10px;
   height: 2.8em; 
   outline: none;
   position: absolute;
   right: 10px;
   text-align: left;
   top: 10px;
   width: 3em; 
}
#headerOverlayMenu-close:before, #headerOverlayMenu-close:after
{
   background: #FFFFFF;
   content: "";
   display: block;
   height: 0.6em;
   left: 0;
   opacity: 1;
   position: absolute;
   top: 0;
   width: 100%;
}
#headerOverlayMenu-close span
{
   background: #FFFFFF;
   height: 0.6em;
   margin-top: -0.3em;
   position: absolute;
   top: 50%;
   transform-origin: 50% 50%;
   width: 100%;
}
#headerOverlayMenu-close span::after
{
   background: #FFFFFF;
   content: "";
   display: block;
   height: 0.6em;
   position: absolute;
   transform-origin: 50% 50%;
   width: 100%;
}
#headerOverlayMenu-close:before
{
   margin-top: -0.3em;
   opacity: 0;
   top: 50%;
}
#headerOverlayMenu-close:after
{
   bottom: 50%;
   opacity: 0;
}
#headerOverlayMenu-close span
{
   background: #FFFFFF;
   transform: rotate(-45deg);
}
#headerOverlayMenu-close span:after
{
   background: #FFFFFF;
   transform: rotate(-90deg);
}
#headerOverlayMenu-overlay
{
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100%;
   left: 0;
   overflow-y: auto;
   position: fixed;
   top: 0;
   width: 100%;
   z-index: -1;
   background-color: rgba(111,66,193,0.87);
   -webkit-backdrop-filter: blur(10px);
   backdrop-filter: blur(10px);
}
#headerOverlayMenu-overlay ul
{
   font-family: "Open Sans";
   font-weight: 700;
   font-style: normal;
   font-size: 32px;
   text-decoration: none;
   text-transform: none;
   list-style: none;
   margin: 0;
   padding: 0;
}
.headerOverlayMenu
{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: row;
   width: 100%;
   max-width: 480px;
}
.headerOverlayMenu a
{
   text-decoration: none;
}
.headerOverlayMenu ul
{
   list-style: none;
   padding: 0;
   text-align: center;
}
.headerOverlayMenu li
{
   position: relative;
}
.headerOverlayMenu li a
{
   display: block;
   position: relative;
   padding: 10px 15px 10px 15px;
   outline: none;
}
.headerOverlayMenu li a:hover
{
}
#headerOverlayMenu-overlay
{
   visibility: hidden;
   width: 0;
   left: 50%;
   transform: translateX(-50%);
   transition: width 400ms 0.3s, visibility 0s 700ms;
}
#headerOverlayMenu-overlay.show
{
   visibility: visible;
   width: 100%;
   transition: width 400ms;
}
#headerOverlayMenu-overlay .headerOverlayMenu
{
   opacity: 0;
   transition: opacity 0.3s 400ms;
}
#headerOverlayMenu-overlay.show .headerOverlayMenu
{
   opacity: 1;
   transition-delay: 400ms;
}
#headerOverlayMenu-overlay.hide .headerOverlayMenu
{
   transition-delay: 0s;
}
#headerOverlayMenu-overlay .overlay-icon
{
   margin: 0 10px 0 0 ;
}
#headerOverlayMenu-social
{
   padding: 40px 0 0 0;
}
#headerOverlayMenu-social .social-icon 
{
   border-radius: 50%;
   background-color: #FFFFFF;
   color: #6F42C1;
   display: inline-block;
   font-size: 32px;
   margin: 0 .5em;
   padding: 12px;
   transition: all .2s linear 0s;
   width: 32px;
}
#headerOverlayMenu-social .social-icon:hover 
{
   background-color: #FFFFFF;
   color: #5E38A4;
}
.headerOverlayMenu-effect
{
   transition: all 500ms linear;
}
#wb_homeLayoutGrid
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: url('pexels-photo-2108845.jpeg');
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#homeLayoutGrid
{
   box-sizing: border-box;
   padding: 50px 15px 100px 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#homeLayoutGrid > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#homeLayoutGrid > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#homeLayoutGrid > .row > .col-1
{
   float: left;
}
#homeLayoutGrid > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 100%;
   text-align: left;
}
#homeLayoutGrid:before,
#homeLayoutGrid:after,
#homeLayoutGrid .row:before,
#homeLayoutGrid .row:after
{
   display: table;
   content: " ";
}
#homeLayoutGrid:after,
#homeLayoutGrid .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#homeLayoutGrid > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#homeLayoutGrid-overlay
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   border-radius: 0px;
   background-color: #000000;
   opacity: 0.5;
}
.homeMenu .nav
{
   font-family: Arial;
   font-weight: bold;
   font-size: 16px;
   font-style: normal;
   color: #FD5927;
   text-align: left;
   text-transform: uppercase;
}
#homeMenu, .homeMenu .nav, .homeMenu *
{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   line-height: 1;
   list-style: none;
}
.homeMenu .nav:before,
.homeMenu .nav:after 
{
   content: " ";
   display: table;
}
.homeMenu .nav:after 
{
   clear: both;
}
.homeMenu .nav a 
{
   text-decoration: none;
}
.homeMenu .nav ul
{
   margin-top: 0;
   margin-bottom: 0;
}
.homeMenu .nav ul ul
{
   margin-bottom: 0;
}
.homeMenu .container 
{
   margin-right: auto;
   margin-left: auto;
   padding: 0;
}
.homeMenu .container:before,
.homeMenu .container:after 
{
   content: " ";
   display: table;
}
.homeMenu .container:after 
{
   clear: both;
}
.homeMenu .collapse 
{
   display: none;
}
.homeMenu .collapse.show 
{
   display: block;
}
.homeMenu .collapsing 
{
   position: relative;
   height: 0;
   overflow: hidden;
   transition: height .35s ease;
}
.homeMenu .arrow, .homeMenu .arrow-right
{
   display: inline-block;
   width: 0;
   height: 0;
   margin-left: 4px;
   vertical-align: middle;
   border-top: 4px solid #000;
   border-right: 4px solid transparent;
   border-left: 4px solid transparent;
   border-bottom: 0 dotted;
}
.homeMenu .dropdown 
{
   position: relative;
}
.homeMenu .dropdown-toggle:focus 
{
   outline: 0;
}
.homeMenu .dropdown-menu 
{
   position: absolute;
   top: 100%;
   left: 0;
   z-index: 1000;
   display: none;
   float: left;
   min-width: 160px;
   padding: 5px 0;
   margin: 2px 0 0;
   list-style: none;
   font-size: 16px;
   background-color: #FFFFFF;
   background-image: none;
   border: 1px solid rgba(255,255,255,1.00);
   border-radius: 6px;
   background-clip: padding-box;
}
.homeMenu .dropdown-menu .divider
{
   height: 1px;
   margin: 9px 0;
   overflow: hidden;
   background-color: #FFFFFF;
}
.homeMenu .dropdown-menu > li > a
{
   display: block;
   padding: 3px 20px 3px 20px;
   clear: both;
   line-height: 1.428571429;
   color: #FD5927;
   text-transform: none;
   white-space: nowrap;
}
.homeMenu .dropdown-menu > li > a:hover,
.homeMenu .dropdown-menu > li > a:focus 
{
   text-decoration: none;
   color: #FFFFFF;
   background-color: #EDEDED;
   background-image: none;
}
.homeMenu .dropdown-menu > li > a.active,
.homeMenu .dropdown-menu > li > a.active:hover,
.homeMenu .dropdown-menu > li > a.active:focus
{
   color: #FFFFFF;
   background-color: #EDEDED;
   background-image: none;
   text-decoration: none;
   outline: 0;
}
.homeMenu .show > .dropdown-menu
{
   display: block;
}
.homeMenu .show > a
{
   outline: 0;
}
.homeMenu .dropdown-header
{
   display: block;
   padding: 3px 20px;
   line-height: 1.428571429;
   color: #aeaeae;
}
.homeMenu .dropdown-backdrop
{
   position: fixed;
   left: 0;
   right: 0;
   bottom: 0;
   top: 0;
   z-index: 990;
}
.homeMenu .dropdown.show .dropdown-menu
{
   animation-name: homeMenu-animation;
   animation-duration: 500ms;
   animation-iteration-count: 1;
   animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
   animation-fill-mode: forwards;
}
@keyframes homeMenu-animation
{
   0%
   {
      opacity: 0;
      transform: translateY(-10px);
   }
   100%
   {
      opacity: 1;
      transform: translateY(0);
   }
}
.homeMenu .nav > li 
{
   position: relative;
   display: block;
}
.homeMenu .nav > li > a
{
   position: relative;
   display: block;
   padding: 15px 15px 15px 15px;
}
.homeMenu .nav .show > a,
.homeMenu .nav .show > a:hover,
.homeMenu .nav .show > a:focus
{
    border-color: #343A40;
}
.homeMenu .nav .nav-divider
{
   height: 1px;
   margin: 9px 0;
   overflow: hidden;
   background-color: #FFFFFF;
}
.homeMenu .nav .arrow
{
   border-top-color: #343A40;
   border-bottom-color: #343A40;
}
.homeMenu
{
   position: relative;
}
.homeMenu:before,
.homeMenu:after
{
   content: " ";
   display: table;
}
.homeMenu:after
{
   clear: both;
}
.homeMenu .navbar-header:before,
.homeMenu .navbar-header:after
{
   content: " ";
   display: table;
}
.homeMenu .navbar-header:after
{
   clear: both;
}
.homeMenu-navbar-collapse 
{
   overflow-x: visible;
   -webkit-overflow-scrolling: touch;
}
.homeMenu-navbar-collapse:before,
.homeMenu-navbar-collapse:after
{
   content: " ";
   display: table;
}
.homeMenu-navbar-collapse:after
{
   clear: both;
}
.homeMenu-navbar-collapse.show
{
   overflow-y: auto;
}
.homeMenu .navbar-toggle 
{
   position: relative;
   float: right;
   padding: 16px 10px 15px 10px;
   background-color: transparent;
   border: 1px solid transparent;
   border-radius: 6px;
}
.homeMenu .navbar-toggle .icon-bar 
{
   display: block;
   width: 22px;
   height: 2px;
   border-radius: 1px;
}
.homeMenu .navbar-toggle .icon-bar+.icon-bar
{
   margin-top: 4px;
}
.homeMenu .navbar-nav
{
   margin: 6px -15px;
}
.homeMenu .navbar-nav > li > .dropdown-menu
{
   margin-top: 0;
}
.homeMenu .navbar-nav > li > a
{
   color: #FD5927;
}
.homeMenu .navbar-nav > li > a:hover,
.homeMenu .navbar-nav > li > a:focus
{
   background-color: #EDEDED;
   background-image: none;
   color: #FFFFFF;
   text-decoration: none;
}
.homeMenu .navbar-nav > li > a.active,
.homeMenu .navbar-nav > li > a.active:hover,
.homeMenu .navbar-nav > li > a.active:focus
{
   color: #FFFFFF;
   background-color: #EDEDED;
   background-image: none;
}
.homeMenu .navbar-toggle
{
   border: 1px solid transparent;
}
.homeMenu .navbar-toggle:hover,
.homeMenu .navbar-toggle:focus
{
   background-color: transparent;
}
.homeMenu .navbar-toggle .icon-bar
{
   background-color: #FFFFFF;
}
.homeMenu-navbar-collapse
{
   border-color: rgba(255,255,255,1.00);
}
.homeMenu .navbar-nav > .dropdown > a:hover .arrow,
.homeMenu .navbar-nav > .dropdown > a:focus .arrow
{
   border-top-color: #FFFFFF;
   border-bottom-color: #FFFFFF;
}
.homeMenu .navbar-nav > .show > a,
.homeMenu .navbar-nav > .show > a:hover,
.homeMenu .navbar-nav > .show > a:focus
{
   background-color: #EDEDED;
   background-image: none;
   color: #FFFFFF;
}
.homeMenu .navbar-nav > .show > a .arrow,
.homeMenu .navbar-nav > .show > a:hover .arrow,
.homeMenu .navbar-nav > .show > a:focus .arrow
{
   border-top-color: #FFFFFF;
   border-bottom-color: #FFFFFF;
}
.homeMenu .navbar-nav > .dropdown > a .arrow
{
   border-top-color: #FD5927;
   border-bottom-color: #FD5927;
}
.homeMenu .navbar-link
{
   color: #FD5927;
}
.homeMenu .navbar-link:hover
{
   color: #FFFFFF;
}
.homeMenu .navbar-header
{
   color: #FFFFFF;
}
@media (min-width: 480px) 
{
.homeMenu .navbar-right .dropdown-menu
{
   right: 0;
   left: auto;
}
.homeMenu .navbar-header
{
   float: left;
}
.homeMenu-navbar-collapse
{
   width: auto;
   border-top: 0;
   box-shadow: none;
}
.homeMenu-navbar-collapse.collapse
{
   display: block!important;
   height: auto!important;
   padding-bottom: 0;
   overflow: visible!important;
}
.homeMenu-navbar-collapse.show
{
   overflow-y: auto;
}
.homeMenu .navbar-toggle
{
   display: none;
}
.homeMenu .navbar-nav
{
   float: right;
   margin: 0;
}
.homeMenu .navbar-nav > li
{
   float: left;
}
.homeMenu .container > .navbar-header,
.homeMenu .container > .homeMenu-navbar-collapse
{
   margin-right: 0;
   margin-left: 0;
}
.homeMenu .navbar-nav > .dropdown > a:hover .arrow,
.homeMenu .navbar-nav > .dropdown > a:focus .arrow
{
   border-top-color: #FEFEFE;
   border-bottom-color: #FEFEFE;
}
}
@media (max-width: 480px) 
{
.homeMenu 
{
   background-color: transparent;
   background-image: none;
   border: 1px solid rgba(255,255,255,0.00);
}
.homeMenu .navbar-nav
{
   margin: 0;
   background-color: #FFFFFF;
   background-image: none;
}
.homeMenu .navbar-nav .show .dropdown-menu
{
   position: static !important;
   transform: translate3d(0px, 0px, 0px) !important;
   float: none;
   width: auto;
   margin-top: 0;
   background-color: transparent;
   border: 0;
   box-shadow: none;
}
.homeMenu .navbar-nav .show .dropdown-menu > li > a,
.homeMenu .navbar-nav .show .dropdown-menu .dropdown-header
{
   padding: 5px 15px 5px 15px;
}
.homeMenu .navbar-nav .show .dropdown-menu > li > a
{
   line-height: 20px;
}
}
@media (min-width: 480px) 
{
.homeMenu 
{
   background-color: transparent;
   background-image: none;
   border: 1px solid rgba(255,255,255,0.00);
   border-radius: 6px;
}
.homeMenu .navbar-nav > li > a
{
   color: #FFFFFF;
}
.homeMenu .navbar-nav > li > a:hover,
.homeMenu .navbar-nav > li > a:focus
{
   color: #FEFEFE;
   background-color: transparent;
   background-image: none;
}
.homeMenu .navbar-nav > li > a.active,
.homeMenu .navbar-nav > li > a.active:hover,
.homeMenu .navbar-nav > li > a.active:focus
{
   color: #FEFEFE;
   background-color: transparent;
   background-image: none;
}
.homeMenu .navbar-nav > .show > a,
.homeMenu .navbar-nav > .show > a:hover,
.homeMenu .navbar-nav > .show > a:focus
{
   background-color: transparent;
   background-image: none;
   color: #FEFEFE;
}
.homeMenu .navbar-nav > .dropdown > a:hover .arrow
{
   border-top-color: #FEFEFE;
   border-bottom-color: #FEFEFE;
}
.homeMenu .navbar-nav > .dropdown > a .arrow
{
   border-top-color: #FFFFFF;
   border-bottom-color: #FFFFFF;
}
.homeMenu .navbar-nav > li > a.active > .arrow,
.homeMenu .navbar-nav > li > a.active:hover > .arrow,
.homeMenu .navbar-nav > li > a.active:focus > .arrow
{
   border-top-color: #FEFEFE;
   border-bottom-color: #FEFEFE;
}
.homeMenu .navbar-nav > .show > a .arrow,
.homeMenu .navbar-nav > .show > a:hover .arrow,
.homeMenu .navbar-nav > .show > a:focus .arrow
{
   border-top-color: #FEFEFE;
   border-bottom-color: #FEFEFE;
}
.homeMenu .navbar-link
{
   color: #FFFFFF;
}
.homeMenu .navbar-link:hover 
{
   color: #fff;
}
}
.homeMenu .navbar-nav > li:first-child > a
{
   border-top-left-radius: 6px;
   border-bottom-left-radius: 6px;
}
.homeMenu .dropdown-menu > li:last-child > a
{
   border-bottom-left-radius: 6px;
   border-bottom-right-radius: 6px;
}
#homeMenu-logo
{
   float: left;
}
#homeMenu-logo img
{
   border-width: 0;
   height: auto;
   max-width: 100%;
}
#homeMenu i
{
   font-size: 16px;
   position: relative;
   left: 0;
   top: 0;
   margin-right: 4px;
   width: 16px;
}
#wb_homeMenu
{
   z-index: 1111 !important;
}
#wb_homeCarousel
{
   background-color: transparent;
   background-image: none;
   border-radius: 0px;
   margin: 0;
}
#wb_homeCarousel
{
   box-sizing: border-box;
   width: 100%;
   height: 359px;
}
#homeCarousel
{
   position: relative;
   margin: 0;
;
   height: 100%;
   box-sizing: border-box;
}
#homeCarousel .carousel-inner
{
   overflow: hidden;
   width: 100%;
   height: 100%;
   position: relative;
}
.carousel.pointer-event
{
   -ms-touch-action: pan-y;
   touch-action: pan-y;
}
#homeCarousel .carousel-inner::after
{
   display: block;
   clear: both;
   content: "";
}
#homeCarousel .carousel-inner > .carousel-item
{
   display: none;
   position: relative;
   float: left;
   width: 100%;
   margin-right: -100%;
   -webkit-backface-visibility: hidden;
   backface-visibility: hidden;
   transition: transform 500ms ease-in-out;
   height: 100%;
   text-align: center;
}
#homeCarousel .carousel-item-next:not(.carousel-item-start), #homeCarousel .active.carousel-item-end
{
   transform: translateX(100%);
}
#homeCarousel .carousel-item-prev:not(.carousel-item-end), #homeCarousel .active.carousel-item-start
{
   transform: translateX(-100%);
}
#homeCarousel .carousel-item-inner
{
   padding: 0;
   display: flex;
   align-items: center;
   flex-direction: column;
   justify-content: center;
   height: 100%;
   box-sizing: border-box;
}
#homeCarousel .carousel-inner > .carousel-item > img, #homeCarousel .carousel-inner > .carousel-item > a > img
{
   display: block;
   line-height: 1;
}
#homeCarousel .carousel-inner > .active, #homeCarousel .carousel-inner > .carousel-item-next, #homeCarousel .carousel-inner > .carousel-item-prev
{
   display: block;
}
#homeCarousel .carousel-inner > .carousel-item-next, #homeCarousel .carousel-inner > .carousel-item-prev
{
   position: absolute;
   top: 0;
   width: 100%;
}
#homeCarousel .carousel-indicators
{
   list-style: none;
   bottom: 0;
   padding: 0;
   margin: 0;
   position: absolute;
   margin-left: -54px;
   left: 50%;
   vertical-align: middle;
   z-index: 999;
}
#homeCarousel .carousel-indicators li
{
   display: block;
   float: left;
   margin: 12px 12px 12px 12px;
   width: 11px;
   height: 11px;
   cursor: pointer;
   text-indent: -999px;
   border-radius: 50%;
   background-color: transparent;
   border: 1px solid rgba(255,255,255,1.00);
}
#homeCarousel .carousel-indicators .active
{
   background-color: rgba(255,255,255,1.00);
}
#homeCarousel .frame
{
   width: 940px;
   display: inline-block;
   float: left;
   height: 359px;
}
#wb_homeHeading1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   vertical-align: top;
   margin: 0;
   padding: 0;
   text-align: center;
}
#homeHeading1
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 32px;
   margin: 0;
   text-align: center;
   text-transform: none;
}
#wb_homeHeading2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   vertical-align: top;
   margin: 0;
   padding: 0;
   text-align: center;
}
#homeHeading2
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 32px;
   margin: 0;
   text-align: center;
   text-transform: none;
}
#wb_homeHeading3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   vertical-align: top;
   margin: 0;
   padding: 0;
   text-align: center;
}
#homeHeading3
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 32px;
   margin: 0;
   text-align: center;
   text-transform: none;
}
#wb_footerCopyright 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 20px 0 20px 0;
   margin: 0;
   text-align: left;
}
#wb_footerCopyright div
{
   text-align: left;
}
#wb_footerCopyright
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#wb_footerMenu
{
   border: 0px solid #C0C0C0;
   border-radius: 0px;
   background-color: transparent;
   margin: 0;
   text-align: center;
   position: relative;
   z-index: 1111 !important;
}
#wb_footerMenu ul
{
   list-style-type: none;
   margin: 0;
   padding: 0;
}
#wb_footerMenu > ul
{
   display: flex;
   justify-content: space-between;
}
#wb_footerMenu li
{
   margin: 0;
   padding: 0px 0px 0px 0px;
}
#wb_footerMenu a
{
   display: block;
   float: left;
   color: #FFFFFF;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
   text-decoration: none;
   text-transform: none;
   text-align: left;
   vertical-align: middle;
}
#wb_footerMenu > ul > li > a
{
   height: 22px;
   line-height: 22px;
   padding: 0px 0px 0px 0px;
}
#wb_footerMenu li:hover a, #wb_footerMenu a:hover
{
   color: #FFFFFF;
   border: 0px solid #2E6DA4;
   background-color: transparent;
   background-image: none;
}
#wb_footerMenu li.firstmain
{
   padding-left: 0px;
}
#wb_footerMenu li.lastmain
{
   padding-right: 0px;
}
#wb_footerMenu br
{
   clear: both;
   font-size: 1px;
   height: 0;
   line-height: 0;
}
#wb_footerImage
{
   margin: 0;
   vertical-align: top;
}
#footerImage
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 64px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_footer
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #323232;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#footer
{
   box-sizing: border-box;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   padding: 10px 0 10px 0;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#footer > .col-1, #footer > .col-2, #footer > .col-3
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#footer > .col-1, #footer > .col-2, #footer > .col-3
{
   flex: 0 0 auto;
}
#footer > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   flex-basis: 41.66666667%;
   max-width: 41.66666667%;
   display: flex;
   flex-wrap: wrap;
   align-content: center;
   align-self: stretch;
   align-items: center;
   justify-content: flex-start;
   text-align: left;
}
#footer > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   flex-basis: 16.66666667%;
   max-width: 16.66666667%;
   display: flex;
   flex-wrap: wrap;
   align-content: center;
   align-self: stretch;
   align-items: center;
   justify-content: center;
   text-align: center;
}
#footer > .col-3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   flex-basis: 41.66666667%;
   max-width: 41.66666667%;
   display: flex;
   flex-wrap: wrap;
   align-content: center;
   align-self: stretch;
   align-items: center;
   justify-content: flex-start;
   text-align: left;
}
@media (max-width: 480px)
{
#footer > .col-1, #footer > .col-2, #footer > .col-3
{
   flex-basis: 100% !important;
   max-width: 100% !important;
}
}
